page-login {
    .scroll-content {
        background: url('../assets/img/login-bg.jpg') no-repeat center;
        background-size: cover;
        height: 100%;
        &::before {
            background-color: rgba(248, 105, 170, 0.4);
            width: 100%;
            height: 100%;
            content: ' ';
            display: block;
            position: fixed;
            top: 0px;
            left: 0px;
        }
    }
    .logo-wrap {
        margin: 16vh auto 10vh;
        ;
        text-align: center;
        .logo {
            z-index: 100;
            width: 60%;
            text-align: center;
            margin: 0px auto;
            img {
                max-width: 100%;
            }
        }
    }
    .fb-btn {
        background-color: #4267b2;
        .button-inner {
            justify-content: space-evenly;
            align-items: center;
        }
        img {
            max-width: 24px;
            margin-right: 10px;
        }
    }
    .list-ios>.item-block:first-child,
    .list-ios>.item-block:last-child {
        border: none;
    }
    .round-box {
        .item,
        .item-ios,
        .item-block .item-input {
            padding: 0px;
            border: none;
            .item-inner {
                padding: 0px 8px;
                border: none;
                background-color: #fff;
                font-weight: normal;
                .input-wrapper {
                    border-bottom: none;
                    font-weight: normal;
                    ion-label {
                        color: #878787;
                        font-weight: normal;
                    }
                }
            }
        }
        .text-input {
            color: #212121;
            font-weight: normal;
        }
    }
    .login-footer {
        background-color: #341f69;
        .bottom-part {
            width: 100vw;
            /* position: absolute;
            bottom: 0px; */
            display: inline;
            /* background-color: #341f69; */
            p {
                width: 50%;
                padding: 0px 5px;
                color: #e0e0e0;
                text-transform: capitalize;
                font-size: 1.6rem;
            }
        }
    }
}